/.vscode
/.idea
/.vs
/build
/cmake-build-debug/
/cmake-build-release/
/cmake-build-debug-coverage/
/doc/doxygen
# Project exclude paths
/cmake-build-debug-mingw/CMakeFiles/
/cmake-build-release-mingw/CMakeFiles/